<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    
    <h>Logged in as: <%= userdetail.Name %></h>
    
   <% include partials/header %>
   
    <div class="div-1">
        <a href="/addnew">
            <button>Add New</button>
        </a>
        <div>
            <a href="/logout">
                <button>LogOut</button>
            </a>

            <a href="/userprofile">
                <button>Profile</button>
            </a>
            <a href="/cart">
                <button>Cart(<%= cart.length %>)</button>
            </a>
        </div>

    </div>



    <div class="div-2">
        <form class="" action="/mainpage/filter" method="get">
            <label for="category">Filter by category</label>
            <select name="category">
                <option></option>
                <option>mens</option>
                <option>Ladies</option>
                <option>children</option>
            </select >
            <label>Filter by price</label>
            <select name="price">
                <option></option>
                <option>Low-High</option>
                <option>High-Low</option>
                
            </select >
            <label>Filter by size</label>
            <select name="size">
                <option></option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
            </select>

            <input type="submit">
        </form>
        <hr>
        <div class="product-div-1">

            <% result.forEach((result)=> { %>
                <div class="product-div">
                    <div class="image-div1">
                        <img src="/images/<%= result.Image %>" alt="Image">

                    </div>
                    <div>
                        <hr>
                        <li>Name: <%= result.Name %>
                        </li>
                        <li>Price: <%= result.Price %>
                        </li>
                        <li>Size: <%= result.Size %>
                        </li>
                        <div class="button-div-cart-1">
                            <a href="/<%= result._id %>/cart/mainpage">
                                <button class="Button">Add to cart</button>
                            </a>
    
                            <a href="/<%= result._id %>/productdetails">Details</a>
                        </div>
                       
                    </div>

                </div>

                <% }) %>
        </div>


    </div>


</body>

</html>